@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>.NET 💜 Azure1</h1>
        <h1>.NET 💜 Azure2</h1>
        <h1>.NET 💜 Azuere32q</h1>
        <h1>.NET 💜 Azuere5</h1><h1 id="title">ASP.NET</h1>
        <h1>prueba123</h1>

        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="jumbotron">

        <h1>Alejandra 💜 Azure</h1>

        <h1>.NET 💜 Azure</h1>
        <h1>Daniel 💜 Azure</h1>

        <h1>Dani 💜 Azure</h1>



        <p class="lead">Example .NET app to Azure App Service.</p>
    </div>
</main>
